@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-title">
        <h5>修改设备状态</h5>
    </div>
	<div class="ibox-content">
		<div class="form-horizontal" id="devicesInfoForm">

			<input type="hidden" id="id" value="${devices.id}">
			<input type="hidden" id="statusValue" value="${devices.status}">

			<div class="row">
				<div class="col-sm-6 b-r">
					<#input id="iccid" name="ICCID" underline="true" value="${devices.iccid}"  disabled="disabled"/>
					
					<#select id="status" name="SIM卡状态" underline="true">
						<option value="TEST_READY">可测试</option>
                        <option value="INVENTORY">库存</option>
                        <option value="ACTIVATION_READY">可激活</option>
                        <option value="ACTIVATED">已激活</option>
                        <option value="RETIRED">已停用</option>
                        <option value="DEACTIVATED">已失效</option>
					</#select>
					
					<#input id="dateActivated" name="激活时间" underline="true" value="${devices.dateActivated}"  disabled="disabled"/>
					
				</div>
				<div class="col-sm-6">
					<div id="driverInfoContent">
						<#input id="ctdDataUsage" name="周期累计用量(MB)" underline="true" value="${devices.ctdDataUsage}"  disabled="disabled"/>
						
						<#input id="customer" name="客户" underline="true" value="${devices.userName}" disabled="disabled"/> 
						
						<#input id="dateAdded" name="创建时间" underline="true" value="${devices.dateAdded}"  disabled="disabled"/>
					
						
					</div>
				</div>
			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DevicesInfoDlg.editStatusSubmit()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DevicesInfoDlg.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/devices/devicesInfo/devices_info.js"></script>
<script>
    laydate.render({
        elem: '#birthday'
    });
</script>
@}
