@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>资费计划列表</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                           
                           	<div class="col-sm-3">
                                <#NameCon id="userId" name="用户" />
                            </div> 
                            
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Plan.search()"/>
                            </div>
                        </div>
                        
                         
                        <div class="hidden-xs" id="planTableToolbar" role="group">
	                            @if(shiro.hasPermission("/plan/add")){
	                                <#button name="添加资费计划" icon="fa-plus" clickFun="Plan.openAddPlan()" space="true"/>
	                            @}
	                            @if(shiro.hasPermission("/plan/edit")){
	                                <#button name="修改状态" icon="fa-edit" clickFun="Plan.edit()" space="true"/>
	                            @}	
						</div>
                        
                        <#table id="planTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/rate/plan/plan.js"></script>
@}
